/*  */
@font-face {
    font-family: 'Gilroy';
    src: url('/Gilroy-Medium.ttf') format('truetype');
    font-weight: 500;
    /* Adjust according to the font weight */
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy_Light';
    src: url('/Gilroy-Light.ttf') format('truetype');
    font-weight: 500;
    /* Adjust according to the font weight */
    font-style: normal;
}

body {
    font-family: 'Gilroy', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#bulletin #bulletin_text {
    font-family: 'Gilroy_Light', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#calander_layout {
    font-family: 'Gilroy_Light', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#news p,
span {
    font-family: 'Gilroy_Light', sans-serif;
    font-optical-sizing: auto;
    font-style: medium;
}